img {
  max-width: 100%;
}

#sidebar a {
  margin-bottom: 0.25em;
}

@media screen and (max-width: 768px) {
  #sidebar img {
    max-width: 50%;
    float: left;
    display: block;
    margin-bottom: 0.25em;
  }
}
